<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rocky.projectcore">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!--网络通信权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--SD卡写入数据权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--VISIBILITY_HIDDEN表示不显示任何通知栏提示的权限-->
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <!--DownloadManager-->
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />

    <application>
        <meta-data
            android:name="com.rocky.projectcore.glide.OkHttpGlideModule"
            android:value="GlideModule" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.rocky.weather.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rocky_file_paths" />
        </provider>

        <activity
            android:name=".activity.ShowH5Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.JumpWebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.JumpInstallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.QualifyInvestorAgreementActivity"
            android:screenOrientation="portrait" />


        <service android:name=".service.DownloadService" />
    </application>
</manifest>
