<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rocky.core" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>

        <meta-data android:value="5cc65b690cafb2feb3000b6a" android:name="UMENG_APPKEY"/>
        <meta-data android:value="rocky" android:name="UMENG_CHANNEL"/>

        <service
            android:name=".push.GeTuiPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice" />
        <service android:name=".push.GeTuiIntentService"/>
    </application>
</manifest>
